@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @apply box-border;
  }

  html {
    height: fill-available;
    height: stretch;
    height: -webkit-fill-available;
    height: -moz-available;
    @apply bg-slate-900;
    @apply text-neutral-50;
  }

  body {
    height: 100vh;
    height: fill-available;
    height: stretch;
    height: -webkit-fill-available;
    height: -moz-available;
    @apply overflow-x-hidden;
  }

  main {
    min-width: 0 !important;
  }

  h1 {
    @apply font-display;
    @apply text-h1;
    @apply md:text-[3.5rem];
  }

  h2 {
    @apply text-h2;
    @apply md:text-[2rem];
  }

  h3 {
    @apply text-h3;
  }

  h4 {
    @apply text-h4;
  }

  h5 {
    @apply text-h5;
  }

  p {
    @apply text-p;
  }

  .cta_button {
    @apply cursor-pointer;
    @apply flex;
    @apply items-center;
    @apply justify-center;
    @apply h-12;
    @apply hover:scale-105;
    @apply rounded-xl;
    @apply bg-yellow-300;
    @apply text-neutral-900;
    @apply text-h5;
  }

  a {
    @apply hover:text-rose-600;
  }
  .paddings {
    @apply px-6;
    @apply md:px-12;
  }

  .border-shine {
    /* border: solid 1px; */
    /* outline: 1px solid linear-gradient(45deg, #475569, #33415500); */
    /* border-image-source: linear-gradient(45deg, #475569, #33415500); */
    /* background: linear-gradient(#475569, #475569) padding-box,
      linear-gradient(to right, #475569, rgba(51, 65, 85, 0)) border-box;
    border-radius: 50em;
    border: 1px solid transparent; */
    /* outline: 3px linear-gradient(45deg, #475569, #334155); */
  }
}

.herosec {
  @apply min-h-[fit-content];
  @apply h-[calc(100%-32px)];
  height: fill-available;
  height: stretch;
  height: -webkit-fill-available;
  height: -moz-available;
  @apply max-h-[1024px];
}

.slide-anim {
  opacity: 0;
}

/* .slide-anim.play {
  animation: 0.6s 0.1s 1 normal ease-out titleAnim forwards;
}

.form-anim.play {
  animation: 0.6s 0.1s 1 normal ease-out formAnim forwards;
} */
