@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @apply box-border;
  }

  html {
    height: fill-available;
    height: stretch;
    height: -webkit-fill-available;
    height: -moz-available;
    @apply bg-slate-900;
    @apply text-neutral-50;
  }

  body {
    height: 100vh;
    height: fill-available;
    height: stretch;
    height: -webkit-fill-available;
    height: -moz-available;
    @apply overflow-x-hidden;
  }

  main {
    min-width: 0 !important;
  }

  h1 {
    @apply font-display;
    @apply text-[3rem];
    @apply md:text-[3.5rem];
    @apply leading-[125%];
  }

  h2 {
    @apply text-[1.5rem];
    @apply md:text-[2rem];
    @apply font-normal;
    @apply leading-[150%];
  }

  h3 {
    @apply text-[1.375rem];
    @apply font-normal;
    @apply leading-[125%];
  }

  h4 {
    @apply text-[1.125rem];
    @apply font-semibold;
    @apply leading-[125%];
  }

  h5 {
    @apply text-[1.125rem];
    @apply font-normal;
    @apply leading-[125%];
  }

  p {
    @apply text-[1.125rem];
    @apply font-normal;
    @apply leading-[160%];
  }

  button {
    @apply text-neutral-900;
    @apply text-[1.125rem];
    @apply font-normal;
    @apply leading-[125%];
  }

  a {
    @apply hover:text-rose-600;
  }
  .paddings {
    @apply px-6;
    @apply md:px-12;
  }

  .border-shine {
    /* border: solid 1px; */
    /* outline: 1px solid linear-gradient(45deg, #475569, #33415500); */
    /* border-image-source: linear-gradient(45deg, #475569, #33415500); */
    /* background: linear-gradient(#475569, #475569) padding-box,
      linear-gradient(to right, #475569, rgba(51, 65, 85, 0)) border-box;
    border-radius: 50em;
    border: 1px solid transparent; */
    /* outline: 3px linear-gradient(45deg, #475569, #334155); */
  }
}

.herosec {
  @apply min-h-[fit-content];
  @apply h-[calc(100%-32px)];
  height: fill-available;
  height: stretch;
  height: -webkit-fill-available;
  height: -moz-available;
  @apply max-h-[1024px];
}

.hide {
  opacity: 0;
}

.show {
  animation: 0.6s 0.1s 1 normal ease-out titleShow forwards;
}

@keyframes titleShow {
  from {
    opacity: 0;
    transform: translateX(24px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}
