---
const { title, content } = Astro.props;
---

<div class="accordion border-shine relative overflow-hidden rounded-xl bg-slate-700 shadow-container">
	<button
		class="flex h-auto w-full items-center py-3 pl-6 pr-4"
		onclick="const accordions = document.querySelectorAll('.accordion'); accordions.forEach(acc => this.parentElement !== acc ? acc.classList.remove('accordion-active') : acc.classList.toggle('accordion-active'));"
	>
		<span class="mr-4 w-full text-left text-base">{title}</span>
		<img class="rotate-90" src="/assets/arrow_nav.svg" alt="Open/close accordion" width="16" height="16" />
	</button>
	<div class="content text-slate-400">
		<p class="h-full px-6 pb-3 pt-2 text-left text-base/relaxed">{content}</p>
	</div>
</div>
