---
const {text, image} = Astro.props;
---

<button
	onclick="window.open('https://m.me/nazar.poplawski/')"
	class="cta_button mb-6 w-64 bg-blue-600 text-neutral-50 hover:shadow-glow-blue">
	<img
		src="/assets/messenger.svg"
		alt=""
		alt="Social media"
		width="24"
		height="24"
	/>
	Messenger
</button>
