---
const { link } = Astro.props;

const scrollTo = `
  document
    .getElementById("${link.id}")
    .scrollIntoView({ behavior: "smooth" })
`;
---

<a href={""} x-data x-on:click.prevent={scrollTo}>
  <h5>{link.name}</h5>
</a>
