---
const { question } = Astro.props;
---

<button
	onclick="const accordions = document.querySelectorAll('.accordion'); accordions.forEach(acc => this !== acc ? acc.classList.remove('accordion-active') : acc.classList.toggle('accordion-active'));"
	class="accordion border-shine relative h-auto overflow-hidden rounded-xl bg-slate-700 shadow-container">
	<div class="flex h-12 items-center pl-6">
		<h5 class="mr-4">{question.question}</h5>
		<img src="" alt="" />
	</div>
	<div class="text-slate-400">
		<p class="px-6 pb-3 pt-2 text-left">{question.answer}</p>
	</div>
</button>

<!-- x-on:click="$refs.accordion.remove()"
	x-ref="accordion" -->
