---
import { Image } from "@astrojs/image/components";
const { title, desc, image } = Astro.props;
---

<li
  x-ref="stepCard"
  class="col-span-1 flex w-[calc(100vw-48px)] snap-start snap-always flex-col last:snap-end sm:w-[560px]"
>
  <div
    class="border-shine relative mb-6 flex h-16 w-16 items-center justify-center rounded-xl bg-slate-700"
  >
    <Image src={image} alt="Step icon" format="svg" width="32" height="32" />
  </div>
  <h4 class="mb-4">{title}</h4>
  <p class="text-slate-400">{desc}</p>
</li>
