---
const { title, desc, image, isCTA } = Astro.props;
---

<li
  x-ref="stepCard"
  class="col-span-1 flex w-[calc(100vw-48px)] snap-start snap-always flex-col last:snap-end sm:w-[560px]"
>
  <div
    class="border-shine relative mb-6 flex h-16 w-16 items-center justify-center rounded-xl bg-slate-700 shadow-container"
  >
    <img src={image} alt="Step icon" width="32" height="32" />
  </div>
  <div class="mb-3 flex flex-row gap-3">
    <h4>{title}</h4>
    {
      isCTA ? (
        <>
          <img src="/arrow_next.svg" alt="Step icon" width="16" height="16" />

          <button
            x-data
            x-on:click="document.getElementById('user_name').focus()"
            class="text-h4 text-yellow-200"
          >
            {"Przejdź do formularza"}
          </button>
        </>
      ) : undefined
    }
  </div>

  <p class="text-slate-400">{desc}</p>
</li>
