---
import Title from "../components/Title.astro";
import Form from "../components/Form.astro";

const {} = Astro.props;
---

<section
  class="flex flex-col items-center w-full paddings py-12 bg-slate-900 md:py-16"
>
  <div class="flex flex-col items-center w-full max-w-6xl">
    <Title text="Kontakt" />
    <div
      class="grid justify-center w-full grid-cols-2 md:grid-cols-8 lg:grid-cols-12 gap-x-8 gap-y-12"
    >
      <Form />
      <ul
        class="hide flex flex-col self-center col-start-1 gap-8 col-span-full md:col-start-6 lg:col-start-8 md:col-span-4 lg:col-span-5"
      >
        <li class="flex flex-row gap-4">
          <img src="/email.svg" alt="" />
          <a href=""><h5>nazar.poplavsky@gmail.com</h5></a>
        </li>
        <li class="flex flex-row gap-4">
          <img src="/phone.svg" alt="" />
          <a href="">
            <h5>+48 698 284 677</h5>
          </a>
        </li>
        <li class="flex flex-row gap-4">
          <img src="/location.svg" alt="" />
          <h5>Kraków, Polska</h5>
        </li>
      </ul>
    </div>
  </div>
</section>
