---
import Title from "../components/Title.astro";
import Form from "../components/Form.astro";

const {} = Astro.props;
---

<section
  id="contact"
  class="sm:paddings flex w-full flex-col items-center bg-slate-900 bg-contact-gradient pt-12 md:pt-16"
>
  <div class="flex w-full max-w-6xl flex-col items-center">
    <Title text="Kontakt" />
    <div class="grid w-full grid-cols-1 gap-x-8 gap-y-12 lg:grid-cols-2">
      <Form />
      <ul
        class="max-sm:paddings flex w-full flex-col gap-8 self-center lg:pl-[16%] lg:pb-16"
      >
        <li class="flex flex-row gap-4">
          <img src="/email.svg" alt="" width="24" height="24" />
          <a href="mailto:nazar.poplavsky@gmail.com"
            ><h5>nazar.poplavsky@gmail.com</h5>
          </a>
        </li>
        <li class="flex flex-row gap-4">
          <img src="/phone.svg" alt="" width="24" height="24" />
          <a href="tel:698284677">
            <h5>+48 698 284 677</h5>
          </a>
        </li>
        <li class="flex flex-row gap-4">
          <img src="/location.svg" alt="" width="24" height="24" />
          <h5>Kraków, Polska</h5>
        </li>
      </ul>
    </div>
  </div>
</section>
