---
const { navLinks, socialLinks } = Astro.props;
import NavLink from "../components/Nav.astro";
---

<section
  class="paddings relative flex h-[calc(100svh-32px)] max-h-[960px] min-h-[640px] w-full justify-center overflow-hidden bg-slate-800 bg-hero-gradient"
>
  <div class="grid w-full max-w-6xl grid-cols-1 gap-8 lg:grid-cols-2">
    <div
      class="relative col-span-1 col-start-1 row-start-1 flex h-full w-full items-end justify-center lg:justify-end"
    >
      <img
        src="/portrait.webp"
        alt="My portrait photo"
        width="650"
        height="820"
        class="absolute h-full max-h-[840px] min-w-[1080px] object-contain object-[calc(64%+20vw)] opacity-10 drop-shadow-portrait lg:object-right-bottom lg:opacity-100"
      />
    </div>
    <div
      class="z-[1] col-span-1 col-start-1 row-start-1 flex h-full w-full flex-col lg:col-start-2"
    >
      <header class="flex w-full flex-row pt-8 pb-4">
        <div class="flex flex-col">
          <span class="mb-3 hidden text-h5 text-slate-500 sm:block"
            >Nawiguj do</span
          >
          <nav class="flex flex-row gap-8 text-slate-400">
            {navLinks?.map((_item) => <NavLink link={_item} />)}
          </nav>
        </div>
      </header>
      <div class="flex h-full w-full max-w-[560px] items-center">
        <div
          x-data
          x-cloak
          class="intersect-once my-16 flex flex-col opacity-0 intersect:animate-heading"
        >
          <div class="flex grid-cols-3 flex-col gap-x-8">
            <h1 class="col-span-3 mb-4">Hej, jestem Nazar</h1>
            <h2 class="col-span-2 mb-12">
              Zaprojektuję witrynę na potrzeby Twoich klientów
            </h2>
            <!-- <a href={""} class="mb-12 flex">
              <img
                src="/arrow_play.svg"
                alt="Play"
                class="mr-4"
                width="24"
                height="24"
              />
              <h5 class="">Zobacz film o mnie</h5>
            </a> -->
          </div>
          <button
            class="cta_button w-64 bg-yellow-300 text-neutral-900 hover:shadow-glow-yellow"
            x-data
            x-on:click.prevent="document.getElementById('user_name').focus()"
            >Zleć projekt!</button
          >
        </div>
      </div>
      <footer class="flex w-full flex-row items-end justify-end pt-4 pb-8">
        <div class="flex flex-col justify-end">
          <span class="mb-3 hidden text-h5 text-slate-500 sm:block"
            >Znajdź mnie na</span
          >
          <div class="flex shrink-0 flex-row justify-end gap-8">
            {
              socialLinks?.map((_item) => (
                <a href={_item.href}>
                  <img
                    src={_item.image}
                    alt="Social media"
                    width="24"
                    height="24"
                  />
                </a>
              ))
            }
          </div>
        </div>
      </footer>
    </div>
  </div>
</section>
