---
import "../styles/main.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit='no', viewport-fit=cover"
    />
    <meta name="generator" content={Astro.generator} />
    <title>Nazar Popławski</title>
  </head>
  <body>
    <slot />
    <script
      defer
      src="https://unpkg.com/tailwindcss-intersect@1.x.x/dist/observer.min.js"
    ></script>
    <!-- <script type="module" src="../scripts/scrollAnim.js"></script> -->
  </body>
</html>
