---
import "../styles/main.css";
---

<html lang="en" class="scroll-smooth bg-slate-900 text-neutral-50">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin /> -->
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Nothing+You+Could+Do&display=fallback"
      rel="preload stylesheet"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit='no', viewport-fit=cover"
    />
    <meta
      name="description"
      content="Cześć, jestem Nazar! Zajmuję się tworzeniem stron internetowych. Ukończyłem studia na kierunku Grafiki Reklamowej i Multimediów w Krakowie, aby wykorzystać swoje umiejętności w praktyce. Po zakończeniu studiów zacząłem uczyć się programowania, aby lepiej zrozumieć, jak tworzyć strony w życiu. Moim następnym krokiem jest nawiązanie współpracy z przedsiębiorcami, by pomagać im w rozwoju ich własnej działalności. Oferuję stworzenie zarówno estetycznych, jak i funkcjonalnych stron internetowych, które spełniają wymagania Twoich klientów."
    />
    <meta name="generator" content={Astro.generator} />
    <title>Nazar Popławski</title>
  </head>
  <body class="overflow-x-hidden">
    <slot />
    <script
      defer
      src="https://unpkg.com/tailwindcss-intersect@1.x.x/dist/observer.min.js"
    ></script>
  </body>
</html>
