---
import Title from "../components/Title.astro";
import ProsCard from "../components/ProsCard.astro";

const { prosList } = Astro.props;
---

<section
  id="pros"
  class="paddings flex w-full flex-col items-center overflow-hidden bg-slate-800 py-12 md:py-16"
>
  <div class="flex w-full max-w-6xl flex-col items-center gap-x-8">
    <Title text="Zalety Współpracy" />
    <div
      class="grid w-full grid-cols-1 justify-items-center gap-x-8 gap-y-12 sm:grid-cols-2 lg:grid-cols-4"
    >
      {
        prosList?.map((_pros) => (
          <ProsCard title={_pros.title} desc={_pros.desc} image={_pros.image} />
        ))
      }
    </div>
  </div>
</section>
