---
import Title from "../components/Title.astro";
import Question from "../components/Question.astro";

const { questionsList } = Astro.props;
---

<section
	id="contact"
	class="sm:paddings flex w-full flex-col items-center overflow-hidden bg-slate-900 bg-contact-gradient pt-12 md:pt-16">
	<div class="flex w-full max-w-6xl flex-col items-center">
		<Title text="Pytania i Odpowiedzi" />
		<div class="grid w-full grid-cols-1 gap-x-8 gap-y-12 lg:grid-cols-2">
			<div
				class="max-sm:paddings flex w-full flex-col items-center justify-center lg:order-1 lg:items-start lg:pb-16 lg:pl-[16%]">
				<h3 class="mb-8 max-w-[360px] text-center leading-[150%] lg:text-left">
					Zapraszam do kontaktu ze mną za pomocą Messengera
				</h3>
				<button
					onclick="window.open('https://m.me/nazar.poplawski/')"
					class="cta_button mb-6 w-64 bg-blue-600 text-neutral-50 hover:shadow-glow-blue">
					<img
						src="/assets/messenger.svg"
						alt=""
						alt="Social media"
						width="24"
						height="24"
					/>
					Messenger
				</button>
				<span class="text-center text-base text-slate-400 lg:text-left">
					Lub wysyłając maila za pomocą formularza
				</span>
			</div>
			<div>
				{questionsList?.map((question) => <Question question={question} />)}
			</div>
		</div>
	</div>
</section>
