---
import Title from "../components/Title.svelte";
import StepCard from "../components/StepCard.svelte";

const { stepsList } = Astro.props;
---

<section id="steps" class="mx-auto flex w-full flex-col items-center overflow-x-hidden py-12 md:py-16">
	<Title text="Etapy Działania" />
	<div class="stepsSlider paddings mb-8 w-full lg:px-[max(calc((100vw-1152px)/2),theme(spacing.8))]">
		<ul class="swiper-wrapper flex w-max">
			{stepsList?.map((_step) => <StepCard title={_step.title} desc={_step.desc} image={_step.image} isCTA={_step.isCTA} />)}
		</ul>
	</div>
	<div class="relative flex flex-row items-center gap-4">
		<button aria-label="Previous step" class="stepsSlider-button-prev">
			<img class="rotate-180" src="/assets/arrow_nav.svg" alt="Previous step" width="24" height="24" draggable="false" />
		</button>
		<span class="stepsSlider-pagination w-12 text-center text-base text-slate-500"></span>
		<button aria-label="Next step" class="stepsSlider-button-next">
			<img src="/assets/arrow_nav.svg" alt="Next step" width="24" height="24" draggable="false" />
		</button>
	</div>
</section>
<script src="../scripts/slider.js"></script>
