---
import Title from "../components/Title.astro";
import ValueCard from "../components/ValueCard.astro";

const { valuesList } = Astro.props;
---

<section
	id="values"
	class="paddings flex w-full flex-col items-center overflow-hidden py-12 md:py-16">
	<div class="flex w-full max-w-6xl flex-col items-center gap-x-8">
		<Title text="Zalety Współpracy" />
		<div
			class="grid w-full grid-cols-1 justify-items-center gap-8 sm:grid-cols-2 lg:grid-cols-4">
			{
				valuesList?.map((_value) => (
					<ValueCard
						title={_value.title}
						desc={_value.desc}
						image={_value.image}
					/>
				))
			}
		</div>
	</div>
</section>
