---
import Title from "../components/Title.astro";
import WorkCard from "../components/WorkCard.astro";

const { workList } = Astro.props;
---

<section id="works" class="flex w-full flex-col items-center overflow-hidden py-12 md:py-16">
	<Title text="Wykonane pracy" />
	<div class="paddings worksSlider w-full gap-8 lg:px-[max(calc((100vw-1152px)/2),theme(spacing.8))]">
		<ul class="swiper-wrapper flex w-max">
			{workList?.map((workData) => <WorkCard workData={workData} />)}
		</ul>
		<span class="worksSlider-pagination"></span>
	</div>
</section>
